
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

.text-deleted,
.text-deleted .text-muted {
    color: #E0E0E0 !important;
}
body {
    margin-bottom: 200px;
    font-family: 'Roboto', sans-serif;
}